@import "../colors";

.connect {
  display: flex;
  flex-direction: row;

  a {
    margin-right: 30px;
    width: 55px;
    height: 55px;

    svg {
      width: 55px;
      height: 55px;
      fill: $global--color-text;
    }
  }

  a:last-child {
    margin-right: 0;
  }
}
