@import "../colors";

$vertical-divider-height-start: 0px;
$vertical-divider-height-end: 200px;
$vertical-divider-width: 2px;
$vertical-divider-margin-left: 20px;
$vertical-divider-margin-right: 20px;
$vertical-divider-color: $global--color-text;
$vertical-divider-delay: 300ms;
$vertical-divider-duration: 300ms;

.intro {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__vertical-divider {
    &-appear {
      height: $vertical-divider-height-start;
      width: $vertical-divider-width;
      margin-left: $vertical-divider-margin-left;
      margin-right: $vertical-divider-margin-right;
      background: $vertical-divider-color;
    }

    &-appear-done {
      height: $vertical-divider-height-end;
      width: $vertical-divider-width;
      margin-left: $vertical-divider-margin-left;
      margin-right: $vertical-divider-margin-right;
      background: $vertical-divider-color;

      transition-property: height;
      transition-delay: $vertical-divider-delay;
      transition-duration: $vertical-divider-duration;
    }
  }
}
