// Used: https://coolors.co/102542-f87060-cdd7d6-b3a394-ffffff
$color-background: #ffffff;
$color-text: #102542;
$color-highlight-bright: #f87060;
$color-highlight-neutral-blue: #cdd7d6;
$color-highlight-neutral-brown: #b3a394;
