// Used: https://coolors.co/102542-f87060-cdd7d6-b3a394-ffffff
$global--color-background: #ffffff;
$global--color-text: #102542;
$global--color-highlight-bright: #f87060;
$global--color-highlight-neutral-blue: #cdd7d6;
$global--color-highlight-neutral-brown: #b3a394;
